button {
  padding: 15px 25px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #00FF00;
  background-color: black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 4rem;
  font-family: 'Bangers', cursive;
  
}
button:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.button-row{
  width: 25rem;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0rem;
}